OPENAI_API_KEY=voc-80040326175350446591369ad4f56aac970.89284106
PINECONE_API_KEY=pcsk_2KSLpM_9QfPQ6sFiPXHns6m2i5ztcWykSmfrwQm3BB4GJ1eGfwKTqRshCCyiKi2DypSbg4
PINECONE_INDEX_NAME=multimodal-rag
PINECONE_NAMESPACE=eureka-manuals